@import "colors";

$font-stack:    Helvetica, sans-serif;

$bg-color: $color-primary-0;
$fg-color: $color-primary-1;




/**
 * default font-family.
 */

html {
    font-family: $font-stack;
    background-color: $bg-color;
    color: $fg-color;
}

/**
 * Remove default margin.
 */

body {
    margin: 10px;
}
